.display-6 {
  font-weight: bold;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.chart-container {
    position: relative;
    height: 300px;
    padding: 20px;
}